.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pokemon__container{
  border :2px solid gray;
  display : flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #c9ebf5; 
}
ul{
  list-style:none;

  
}
.cards__container{
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px;
  grid-gap :10px;
}
.pokemon__title{
  border-top:2px solid gray ;
  border-bottom: 2px solid gray;
  font-size:24px;


}
.types{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left:0px;
  align-items: center;
  margin-bottom: 10px;
}
.badge{
  margin: 0px 5px;
}